{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>QR code</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <a href="{{image.url}}" download="qr_code" id="download_id">
                <img src="{{image.url}}" alt="qr_code" >
            </a>
            <button onclick="on_click()" class="btn-download" >Download</button>
        </div>
    </div>

    <script>
        function on_click() {
            let a_link = document.querySelector('#download_id');
            a_link.click();
        }
    </script>
</body>
</html>